.card-img-top-home {
    width: auto;
    height: auto;
}

.card-home {
    border-radius: 0px;
    border: 0.5px solid rgb(238, 238, 238);
    transition: 0.2s
}

.card-home:hover {
    background-color: #7AA2E3;
    color: white;
    scale: 0.98;
}

.card-home img {
    border-radius: 0px;
}

.card-title-home {
    font-weight: bold;
    font-size: 40px;
}

.small-home {
    font-weight: bolder;
} 

.p-home {
    margin-top: 10px;
    font-size: 22px;
}
