.item-container {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: auto;
}

.cat-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 40px;
}

.item-name {
    margin: 0 20px;
}

.cat-item {
    padding: 0 10px
}