.selections {
    width: auto;
}

.list-unstyled {
    padding: 5px;
}

.equipment-select-add {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selections {
    border: none;
    height: 35px;
    border-radius: 5px;
    color: rgb(101, 101, 101);
    background-color: rgb(255, 255, 255);
}

.add-btn {
    border: none;
    background-color: white;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
    transition: 0.2s;
    min-width: 60px;
}

.add-btn:hover {
    background-color: rgb(182, 182, 182);
}
