.equipment-button {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 10px 5px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .equipment-button::after {
    content: "";
    background-color: #A7C7E7;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .equipment-button:hover::after {
    top: 0px;
    left: 0px;
  }