.button-center {
    display: flex;
    justify-content: center;
}

.equipment-submit-button {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 30px 5px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .equipment-submit-button::after {
    content: "";
    background-color: #A7C7E7;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .equipment-submit-button:hover::after {
    top: 0px;
    left: 0px;
  }