.item-a {
    grid-area: header;
    text-align: center;
}

.item-b {
    grid-area: main
}

.item-c {
    grid-area: side
}

.equipment-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "main    side"
}