.detail-container {
    background-color: aqua;
    width: 1300px;
    margin: 0 auto;
}

.map-container {
    height: 600px;
    width: 800px;
}

.map-weather-container {
    width: 1000px;
    display: flex;
}

