:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#colorlib-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#colorlib-aside {
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 2em;
  padding-right: 2em;
  width: 25%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  z-index: 1001;
  background: #fff;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#colorlib-aside:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #0028ff;
  z-index: -1;
  opacity: 0.6;
}
@media (min-width: 992px) {
  #colorlib-aside {
    width: 25%;
  }
}
@media (max-width: 991.98px) {
  #colorlib-aside {
    width: 320px;
    -moz-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    -o-transform: translateX(-320px);
    transform: translateX(-320px);
    padding-top: 2em;
    background: rgba(0, 0, 0, 0.04);
  }
}
#colorlib-aside #colorlib-logo {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: 74px;
  line-height: 0.8;
  font-family: "Abril Fatface", cursive;
}
#colorlib-aside #colorlib-logo a {
  text-decoration: none;
}

@media (max-width: 1199.98px) {
  #colorlib-aside #colorlib-logo {
    font-size: 62px;
  }
}
#colorlib-aside #colorlib-logo span {
  display: block;
}
@media (max-width: 991.98px) {
  #colorlib-aside #colorlib-logo {
    margin-bottom: 20px;
  }
}
#colorlib-aside #colorlib-logo a {
  display: inline-block;
  text-align: left;
  color: #fff;
}
#colorlib-aside #colorlib-main-menu ul {
  margin: 0;
  padding: 0;
}
#colorlib-aside #colorlib-main-menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
#colorlib-aside #colorlib-main-menu ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: "Poppins", Arial, sans-serif;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#colorlib-aside #colorlib-main-menu ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#colorlib-aside #colorlib-main-menu ul li a:hover {
  text-decoration: none;
  color: white;
}
#colorlib-aside #colorlib-main-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#colorlib-aside #colorlib-main-menu ul li.colorlib-active {
  font-weight: 600;
}
#colorlib-aside #colorlib-main-menu ul li.colorlib-active a {
  color: #fff;
}
#colorlib-aside #colorlib-main-menu ul li.colorlib-active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#colorlib-aside .colorlib-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 2em;
  font-size: 17px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
#colorlib-aside h3 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
}
#colorlib-aside a {
  color: #fff;
}
#colorlib-aside {
  font-size: 14px;
}
#colorlib-aside .colorlib-subscribe-form {
  width: 100%;
}
#colorlib-aside .form-group {
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
#colorlib-aside .form-group input {
  padding-right: 40px;
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

#colorlib-aside {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8) !important;
}
#colorlib-aside {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.8) !important;
}
#colorlib-aside {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.8) !important;
}
#colorlib-aside {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.8) !important;
}
#colorlib-aside {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 400;
}
#colorlib-aside .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

#colorlib-main {
  width: 100%;
  float: right;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  #colorlib-main {
    width: 75%;
  }
}

.colorlib-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.colorlib-nav-toggle.active i::before,
.colorlib-nav-toggle.active i::after {
  background: #000000;
}
.colorlib-nav-toggle.dark.active i::before,
.colorlib-nav-toggle.dark.active i::after {
  background: #000000;
}
.colorlib-nav-toggle:hover,
.colorlib-nav-toggle:focus,
.colorlib-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.colorlib-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  color: #000000;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000000;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.colorlib-nav-toggle i::before,
.colorlib-nav-toggle i::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.colorlib-nav-toggle.dark i {
  position: relative;
  color: #000000;
  background: #000000;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.colorlib-nav-toggle.dark i::before,
.colorlib-nav-toggle.dark i::after {
  background: #000000;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.colorlib-nav-toggle i::before {
  top: -7px;
}

.colorlib-nav-toggle i::after {
  bottom: -7px;
}

.colorlib-nav-toggle:hover i::before {
  top: -10px;
}

.colorlib-nav-toggle:hover i::after {
  bottom: -10px;
}

.colorlib-nav-toggle.active i {
  background: transparent;
}

.colorlib-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.colorlib-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.colorlib-nav-toggle {
  position: fixed;
  left: -12px;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 991.98px) {
  .colorlib-nav-toggle {
    opacity: 1;
    visibility: visible;
  }
}
